doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/css/style.css')

  body
    h1 Contacts
    table
      thead
        tr
          th First Name
          th Last Name
          th Email
      tbody
        each contact in contacts
          tr
            td= contact.properties.firstname
            td= contact.properties.lastname
            td= contact.properties.email
